# A Comparison Analysis of CAO points for 2019, 2020, 2021
http://www.cao.ie/index.php?page=points&p=2021
***

<br>

## Import Libraries

***

<br>

In [29]:
# Imports libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import random
# Regular expressions
import re

# HTTP requests
import requests as rq

# Dates and times
import datetime as dt

# Opening URLs 
import urllib.request as urlrq

# PDF conversion
import camelot

# Ensures plots are shown
%matplotlib inline

In [30]:
# Gets the current date and time
cur_time = dt.datetime.now()

# Format as a string
current_time = cur_time.strftime('%Y%m%d_%H%M%S')

<br>

# 2021 CAO data

http://www.cao.ie/index.php?page=points&p=2021&bb=points

***

<br>

<br>

## Retrieve data from webserver

In [31]:
# Retrieves CAO points from the webserver.
response = rq.get('http://www2.cao.ie/points/l8.php')

# Response 200 signifies a successful request/response.
response

<br>

## Save original data

In [32]:
# Creates a file path for the original data
path = 'data/cao2021' + current_time + '.html'# Note the importance of the filename and how it
                                              # will be easy to find in folders/sorted appropriately

In [33]:
# Saves the original html file.
with open(path, 'w') as f:
    f.write(response.text)

<br>

## Charset error on server

***

<br>

Technically, server states decoding as:

```
    Content-Type: text/html; charset=iso-8859-1.
``` 

However, one line uses \x96 which isn't defined in iso-8859-1. 

Therefore, we use the similar decoding standard cp1252, which is very similar but includes \x96.

In [34]:
# Server uses incorrect encoding
orig_encoding = response.encoding

# Corrected encoding to cp1252
response.encoding = 'cp1252'

<br>

## Using regular expressions to extract desired data
***

In [35]:
# Compiles the regular expression for matching lines so it doesn't recompile repeatedly.
re_course = re.compile(r'([A-Z]{2}[0-9]{3})  (.*)')  # 'r' python treats string as raw string and doesnt evaluate back slashes
                                                                    # \ {character} means we want the literal character ie., *
                                                                    # ? means 0 or 1 of 
                                                                    # + means 1 or more of

In [36]:
# Path for CSV file
path = 'data/cao2021' + current_time + '.csv'

# Keeping count of the courses we are processing.
course_count = 0

# Opens the CSV file for wrting.
with open(path, 'w') as f:
    # Loops through and prints data from response line by line.
    for line in response.iter_lines():
        # Decoding turns bytes into code points and those code points can be displayed on the screen
        d_line = line.decode('cp1252')
        # Match the string specified in re_course, returning only the courses from the response
        if re_course.fullmatch(d_line):
            # Adds one to the course count
            course_count += 1
            # Use regular expressions splits a string where there are at least two spaces
            line_split = re.split('  +', d_line)
            # Course code.
            course_code = d_line[:5]
            # Course title.
            course_title = d_line[7:57]
            # Points.
            course_points = d_line[60:]
            #{course_code}''{course_title}'
            print(f"'{course_points}'")
            # Rejoin the substrings with commas
            f.write(','.join(line_split) + '\n')
    print(f"Line count: {course_count}")

'300      '
'313      '
'350      '
'321      '
'328      '
'327      '
'451*     444'
'440*     431'
'356      '
'346      '
'357      '
'324      '
'325      '
'346      '
'477      476*'
'338      '
'306      '
'297      '
'309      '
'302      '
'336      '
'300      299'
'309      '
'304      '
'308      '
'301      '
'#575     '
'#747     '
'306      '
'484*     467*'
'307      '
'260      '
'#700     '
'292      '
'250      '
'270      '
'270      '
'266      '
'307      '
'430      423'
'388      '
'451      '
'272      '
'295      '
'293      '
'292      '
'291      '
'260      251'
'291      283'
'465      '
'330      328'
'280      '
'371      359'
'318      '
'292      '
'246      '
'290      '
'360      358'
'247      '
'269      '
'#700     '
'272      '
'270      '
'319      '
'263      235'
'262      230'
'243      224'
'443      '
'431      '
'434      '
'396      '
'336      '
'390      '
'365      '
'#904     #904'
'#1028    '
'#525     '
'350      '
'#450     '
'#400     '
'#435     '
'260      '
'347      '
'590*     '
'466      '
'425      '
'473      '
'327      '
'301      '
'262      '
'368      '
'315      '
'290      '
'279      '
'402      '
'410      '
'409      408'
'475      '
'320      '
'444      '
'375      '
'431      '
'375      '
'300      '
'342      '
'329      '
'#280     '
'246      '
'#609     #609'
'518*     '
'300      '
'434      431'
'#339     '
'421      420*'
'312      '
'440*     440'
'367      357'
'488      '
'409      403'
'#371     '
'464      463'
'347      339'
'544      543*'
'499      488'
'399      '
'308      '
'473      '
'564      555*'
'500      499*'
'553      543*'
'455      452'
'566*     566*'
'465      '
'466      455'
'423      418'
'488      486'
'507      '
'385      '
'445      444'
'466      '
'332      '
'533      532*'
'545      '
'588      '
'589*     589*'
'503      495'
'555*     555'
'500      495*'
'543      '
'532      '
'566      '
'566      '
'465      '
'531      '
'506      '
'555      554*'
'463      '
'510      509*'
'543      '
'#738     #737*'
'625*     625*'
'613*     613*'
'601*     '
'568      566*'
'500      '
'578*     '
'498*     497*'
'565      '
'455      452'
'431      '
'509*     '
'294      294'
'271      270'
'242      242'
'253      253'
'508      '
'#462     '
'#513     '
'#480     '
'382      327'
'317      '
'234      234'
'         178'
'267      233'
'217      217'
'243      210'
'239      225'
'242      217'
'233      225'
'307      209'
'243      228'
'247      239'
'288      288'
'244      244'
'254      219'
'288      176'
'244      233'
'262      228'
'245      213'
'254      228'
'240      240'
'445      '
'518*     '
'#489     '
'#451     '
'356      '
'384      '
'409      '
'409      '
'413      '
'#311     '
'498      '
'511      '
'542*     '
'484      '
'544      '
'544      '
'613*     '
'484      '
'368      '
'601      '
'403      402'
'475      '
'501      '
'577*     '
'541      '
'421      '
'452      '
'435      '
'427      '
'498      '
'531*     '
'466*     '
'423*     '
'543*     '
'400      '
'530      '
'530      '
'488      '
'490      '
'476      '
'500      '
'510      '
'511      510'
'511      '
'462      '
'558      '
'565      '
'521      '
'521      '
'565      '
'477      '
'506      '
'456*     '
'420      '
'382      '
'521*     '
'431      '
'398      '
'469      '
'302      '
'387      '
'499      '
'509      '
'350      '
'400      '
'379      '
'475      '
'349      '
'254      '
'220      '
'418      413'
'#591     '
'#574     '
'#989     '
'#671     #671'
'235      '
'298      293'
'#713     '
'#757     '
'210      '
'277      277'
'#987     #874'
'#566     '
'#628     '
'269      242'
'260      226'
'300      289'
'264      264'
'         251'
'377      377'
'289      270'
'250      228'
'242      242'
'245      242'
'264      264'
'251      251'
'225      225'
'#300     '
'#288     #274'
'#351     '
'210      210'
'#554     '
'#538     '
'#505     '
'#591     '
'#514     '
'#760     #679'
'#413     '
'337      300'
'#738     '
'#444     '
'271      '
'301      '
'300      '
'420      '
'270      '
'330      '
'266      '
'251      251'
'#741     #740*'
'589*     589*'
'613*     613'
'262      '
'228      '
'235      '
'309      '
'270      '
'466      465'
'274      '
'271      '
'440      434'
'278      '
'253      253'
'300      '
'248      248'
'423      '
'#644     #638'
'396      '
'315      '
'330      '
'411      '
'413      '
'307      271'
'400      '
'477      '
'510      '
'322      '
'499      '
'403      '
'395      '
'251      '
'270      '
'235      235'
'262      '
'282      '
'500      441'
'235      '
'522      '
'576      566*'
'542      '
'387      '
'601*     '
'532      '
'487      '
'294      294'
'451      '
'445      '
'314      314'
'339      '
'346      '
'412      '
'309      '
'380      '
'270      '
'477      '
'462      '
'460      '
'386      377'
'300      '
'420      '
'331      311'
'322      '
'356      '
'463      '
'219      '
'270      '
'230      '
'412      '
'307      '
'307      '
'211      '
'251      '
'300      '
'484      '
'311      '
'252      '
'261      '
'336      '
'244      '
'309      '
'308      '
'326      '
'275      '
'#536     #536'
'#448     '
'#364     '
'357      '
'298      '
'#700     '
'#549     '
'#544     '
'#700     '
'299      '
'280      '
'369      '
'462      453'
'414      '
'367      '
'270      '
'326      '
'251      '
'378      '
'407      '
'320      '
'508      477*'
'552      543*'
'590*     589'
'510      497'
'601*     590'
'564*     '
'#496     #486'
'613*     613*'
'389      '
'602*     602'
'577      567'
'467      462'
'377      '
'546      541*'
'566      '
'#543     #519'
'498      463'
'579      578'
'556      555'
'566*     549'
'625*     625*'
'590      589*'
'589*     589*'
'443      '
'520      499'
'417      '
'531      522'
'498      486'
'#743*    #743*'
'625*     625*'
'590*     '
'578*     577*'
'577      566'
'601*     '
'578*     577*'
'558      554*'
'495      '
'554      543'
'555      '
'613*     613*'
'613*     '
'577      567*'
'497      487*'
'564      '
'530      '
'487      '
'391      '
'566      '
'462      456*'
'#473     '
'442      '
'412      410'
'531*     '
'521      '
'555      '
'463      435'
'445      424'
'565*     '
'577      567'
'554      549'
'613*     613*'
'510      '
'454      444'
'531      '
'566      '
'#601*    '
'521      509'
'#743*    '
'566*     566*'
'601*     601*'
'544      543'
'484      476'
'613*     613*'
'462*     '
'533      '
'510      509*'
'442      '
'381      378'
'397      388'
'320      '
'576      567*'
'573      567'
'555      '
'555      554*'
'625*     625'
'475      474'
'534      532*'
'566      564'
'421      '
'307      307'
'301      301'
'309      309'
'320      316'
'320      320'
'305      '
'368      314'
'358      305'
'404      391'
'336      336'
'331      331'
'371      371'
'303      303'
'302      302'
'322      319'
'336      320'
'308      '
'352      '
'440*     440*'
'367      366'
'398      '
'300      '
'482      477'
'301      '
'342      '
'373      368'
'348      '
'379      '
'377      '
'303      '
'285      '
'298      '
'300      '
'318      '
'287      '
'291      '
'310      301'
'252      '
'#790     '
'331      '
'406      '
'218      '
'252      '
'235      '
'230      '
'302      '
'304      '
'281      273'
'377      '
'300      '
'400      '
'312      '
'331      '
'304      '
'413      '
'336      '
'366      '
'381      '
'356      '
'301      '
'445      '
'517      510'
'408      '
'310      '
'270      '
'340      '
'376      366'
'368      '
'440*     '
'369      '
'269      '
'201      '
'265      '
'281      227'
'261      '
'410      '
'346      '
'360      '
'486      467'
'327      326'
'564      555'
'357      '
'413      '
'387      '
'421      420'
'413      '
'300      '
'453      430'
'484      473'
'410      '
'419      '
'403      '
'430      421'
'346      '
'465      '
'462      '
'465      451'
'454      '
'425      '
'442      '
'526      '
'476      '
'520      '
'518      '
'506      '
'509      '
'543      '
'508      '
'551      '
'510      '
'542      '
'565      '
'506      '
'548      '
'#503     '
'#709     '
'489      488'
'613      '
'498      495'
'431      430'
'509      '
'467      '
'412      '
'422      '
'555      '
'543      '
'465      '
'532      '
'485      '
'495      '
'522      520'
'533      521'
'541      '
'555      '
'554      '
'431      '
'509      '
'433      '
'#737*    #737*'
'601      '
'578      '
'531      526'
'502      496'
'475      441'
'520      509'
'312      '
'288      '
'261      261'
'300      290'
'290      '
'#301     '
'283      '
'304      '
'262      '
'234      234'
'300      '
'321      '
'320      '
'316      '
'302      '
'308      300'
'429*     '
'367*     '
'357      '
'288      '
'279      '
'209      '
'280      '
'589      '
'522      '
'#485     '
'409      '
'590      '
'434      '
'370      '
'407      '
'387      '
'509      '
'476      '
'292      '
'290      '
'325      '
'#794     '
'#914     '
'#993     '
'263      '
'331      '
'300      '
'298      '
'255      '
'280      '
'226      '
'260      '
'317      '
'326      '
'308      '
'278      '
'300      '
'264      '
'391      '
'498      '
'252      '
'361      347'
'378      369'
'261      '
'374      '
'271      264'
'279      '
'262      '
'272      262'
'381      '
'328      308'
'391      368'
'429      '
'325      310'
'377      '
'337      319'
'309      '
'357      '
'298      '
'328      317'
'309      276'
'228      '
'279      '
'260      '
'260      256'
'289      '
'#841     '
'279      '
'#807     '
'309      '
'360*     360'
'451      '
'474      '
'#329     '
'420      '
'530      '
'530      '
'432      '
'409      '
'429      '
'451      '
'555*     '
'468      '
'410      '
'430      '
'464*     '
'#401     '
'567      '
'446*     '
'498*     '
'552      544*'
'506      '
'521      '
'367      '
'475      '
'425      '
'454      '
'465      '
'520      '
'613*     '
'534      '
'#429     '
'441      '
'476      '
'498*     '
'445      '
'402      '
'382      '
'498*     '
'455      '
'489      '
'498*     487'
'478      466'
'462      443'
'521*     508'
'294      294'
'564      '
'381      '
'338      336'
'554      '
'390      '
'324      '
'401      400'
'490      489'
'451      '
'422      '
'521      '
'444      '
'543      '
'529      '
'510      '
'452      443'
'351      351'
'326      '
'362      '
'370      '
'476      '
'424      '
'441      '
'423      '
'378      '
'507      '
'465      '
'381      '
'400      '
'520      '
'542      533'
'464      452*'
'463*     457'
'378      347'
'440*     419*'
'440*     432'
'387      358'
'262      '
'279      '
'304      '
'288      '
'298      '
'298      '
'341      '
'287      '
'309      '
'#501     '
'332      '
'316      '
'319      '
'298      '
'308      '
'310      '
'336      '
'327      '
'291      '
'373      '
'418      '
'300      '
'412      '
'313      '
'403      '
'359      '
'384      '
'307      '
'376      '
'358      '
'357      '
'326      '
'308      '
'315      '
'310      '
'#718     '
'322      '
'308      '
'322      '
'307      '
'293      '
'306      '
'301      '
'361      '
'305      '
'307      '
'309      '
'316      '
'317      '
'303      '
'314      '
'308      '
'341      '
'309      '
'301      '
'463      '
'440      419'
'270      261'
'279      '
'271      '
'270      '
'270      270'
'262      '
'#321     '
'279      '
'308      '
'225      '
'446      '
'415      '
'390      '
'267      '
'252      '
'280      '
'309      '
'288      '
'280      '
'243      '
'270      '
'226      '
'456      '
'261      '
'276      '
'377      '
'271      '
'279      '
'237      '
'279      '
'201      201'
'260      '
'270      '
'262      '
'230      230'
'266      '
'261      261                                 '
Line count: 922

<br>

## 2020 CAO data

http://www.cao.ie/index.php?page=points&p=2020
***

In [37]:
# Create a file path for the original data set
path = 'CAO2020' + current_time + '.xlxs'

# Opening URL
urlrq.urlretrieve('http://www2.cao.ie/points/CAOPointsCharts2020.xlsx', path)

('CAO202020211112_181626.xlxs', <http.client.HTTPMessage at 0x116497f40>)

<br>

## Load data with panda
https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html
***

<br>

In [38]:
# Load and parse spread sheet
df_20 = pd.read_excel('http://www2.cao.ie/points/CAOPointsCharts2020.xlsx', skiprows=10)
df_20

SyntaxError: invalid syntax (__init__.py, line 1187)

In [ ]:
# Delete irrelevant columns
# df_20.drop(columns=['COURSE TITLE', 
#                     'CATEGORY (i.e.ISCED description)', 
#                     'R1 Random *', 
#                     'R2 Random*', 
#                     'EOS', 
#                     'EOS Random *', 
#                     'EOS Mid-point', 
#                     'HEI', 
#                     'avp', 
#                     'v', 
#                     'Column1', 'Column2', 'Column3', 'Column4', 'Column5', 'Column6', 
#                     'Column7', 'Column8'])

     COURSE CODE2 R1 POINTS R2 POINTS  LEVEL Test/Interview #
0           AC120       209       NaN      8              NaN
1           AC137       252       NaN      8              NaN
2           AD101  #+matric       NaN      8                #
3           AD102  #+matric       NaN      8                #
4           AD103  #+matric       NaN      8                #
...           ...       ...       ...    ...              ...
1459        WD208       188       NaN      7              NaN
1460        WD210       279       NaN      8              NaN
1461        WD211       271       NaN      8              NaN
1462        WD212       270       NaN      8              NaN
1463        WD230       253       NaN      8              NaN

[1464 rows x 5 columns]

In [ ]:
# Checking random row to ensure data integrity.
df_20.iloc[650]

CATEGORY (i.e.ISCED description)                                             Arts
COURSE TITLE                        Arts (Drama, Theatre and Performance Studies)
COURSE CODE2                                                                GY118
R1 POINTS                                                                     451
R1 Random *                                                                   NaN
R2 POINTS                                                                     NaN
R2 Random*                                                                    NaN
EOS                                                                           451
EOS Random *                                                                  NaN
EOS Mid-point                                                                 492
LEVEL                                                                           8
HEI                                        National University of Ireland, Galway
Test/Interview #                                                              NaN
avp                                                                           NaN
v                                                                             NaN
Column1                                                                       NaN
Column2                                                                       NaN
Column3                                                                       NaN
Column4                                                                       NaN
Column5                                                                       NaN
Column6                                                                       NaN
Column7                                                                       NaN
Column8                                                                       NaN
Name: 650, dtype: object

In [ ]:
# Another random check
df_20.iloc[-1]

CATEGORY (i.e.ISCED description)          Engineering and engineering trades
COURSE TITLE                        Mechanical and Manufacturing Engineering
COURSE CODE2                                                           WD230
R1 POINTS                                                                253
R1 Random *                                                              NaN
R2 POINTS                                                                NaN
R2 Random*                                                               NaN
EOS                                                                      253
EOS Random *                                                             NaN
EOS Mid-point                                                            369
LEVEL                                                                      8
HEI                                        Waterford Institute of Technology
Test/Interview #                                                         NaN
avp                                                                      NaN
v                                                                        NaN
Column1                                                                  NaN
Column2                                                                  NaN
Column3                                                                  NaN
Column4                                                                  NaN
Column5                                                                  NaN
Column6                                                                  NaN
Column7                                                                  NaN
Column8                                                                  NaN
Name: 1463, dtype: object

In [ ]:
# Saving data to CSV file.
path = 'data/cao2020_' + current_time + '.csv'
df_20.to_csv(path)

<br>

## 2019 CAO data
 
http://www2.cao.ie/points/lvl8_19.pdf

<br>

***

<br>

## Convert pdf to csv

<br>

***

What did I do to prepare data before reading in csv file below?

Copy and pasted pdf in Preview, pasted into a Word document so it formats nicely.

Then copied the data from the Word document to a csv file, while deleting preamble and unnecessary data such as preamble, page numbers and full Higher Education INstitution's names while keeping the course code and points etc.

In [ ]:
df19 = pd.read_csv('data/cao2019_20211101_213010.csv', sep='\t')
df19

,Course Code,INSTITUTION and COURSE,EOS,Mid
0,AL801,Software Design with Virtual Reality and Gaming,304,328
1,AL802,Software Design with Cloud Computing,301,306
2,AL803,Software Design with Mobile Apps and Connected...,309,337
3,AL805,Network Management and Cloud Infrastructure,329,442
4,AL810,Quantity Surveying,307,349
...,...,...,...,...
925,WD200,Arts (options),221,296
926,WD210,Software Systems Development,271,329
927,WD211,Creative Computing,275,322
928,WD212,Recreation and Sport Management,274,311
929,WD230,Mechanical and Manufacturing Engineering,273,348

('data/201920211101_201444.pdf', <http.client.HTTPMessage at 0x11e1c6910>)

***
# End